.mt_80px {
  margin-top: 80px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fixed {
  position: fixed;
}

/*######### width #########*/
.w_100 {
  width: 100%;
}

.w_90 {
  width: 90%;
}

.w_73px {
  width: 73px;
}

/*########## height ##########*/

.h_100 {
  height: 100%;
}

.h_80px {
  height: 80px;
}

.m_auto {
  margin: 0 auto;
}


.cursor {
  cursor: pointer;
}

/*######### flex #########*/
.flex {
  display: flex;
}

.space_between {
  display: flex;
  justify-content: space-between;
}

.align_center {
  display: flex;
  align-items: center;
}

.flex_end {
  display: flex;
  justify-content: flex-end;
}

/*######### margin #########*/
.ml_13px {
  margin-left: 13px;
}

.ml_60px {
  margin-left: 60px;
}

.ml_80px {
  margin-left: 80px;
}

.mr_60px {
  margin-right: 60px;
}

.mr_10px {
  margin-right: 10px;
}

.mt_13px {
  margin-top: 13px;
}

.mt_63px {
  margin-top: 63px;
}

.mt_80px {
  margin-top: 80px;
}


.mb_24px {
  margin-bottom: 24px;
}

/*######### font #########*/
.font_white {
  color: var(--white);
}

.font_500 {
  font-weight: 500;
}