.layout4_header {
  top: 0;
  left: 0;
}

.header_mobile {
  display: none;
}

.bg {
  background-color: var(--bgheader1);
}

.main {
  margin-top: 80px
}

@media (max-width: 500px) {
  .header_pc {
    display: none;
  }

  .header_mobile {
    display: flex;
  }

  .space_name {
    display: none;
  }

  .hambuger_bar {
    margin-left: 24px;
  }

}