.obigo_container {
  max-width: 1780px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  box-sizing: border-box;
}

.nav {
  width: 70%;
  border: 3px solid gray;
  box-sizing: border-box;
  height: 100px;
}

.contents {
  width: 30%;
  border: 3px solid rebeccapurple;
  box-sizing: border-box;
  height: 100px;
}

.contents_100 {
  width: 100%;
  animation: contents_increase .5s linear;
}

.contents_30 {
  animation: contents_decrease .5s linear;
}


.btn {
  position: absolute;
  top: 110px;
}

.text {
  word-break: break-word;
}

.fade-enter-active {
  animation: nav_left_to_right .5s linear forwards;
}

.fade-leave-active {
  animation: nav_right_to_left .5s linear forwards;
}


@keyframes nav_left_to_right {
  0% {
    width: 0;
  }

  100% {
    width: 70%;
  }
}

@keyframes nav_right_to_left {
  0% {
    width: 70%;
  }

  to {
    width: 0;
  }
}

@keyframes contents_decrease {
  0% {
    width: 100%;
  }

  100% {
    width: 30%;
  }
}

@keyframes contents_increase {
  0% {
    width: 30%;
  }

  100% {
    width: 100%;
  }
}