.obigo_container {
  max-width: 1780px;
  width: 100%;
  height: 720px;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  box-sizing: border-box;
  position: relative;
}

.obigo_swiper_wrap {
  width: 100%;
}

.obigo_swiper {
  position: relative;
}

.obigo_music_album_img {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px);
}


.obigo_music_album {
  filter: blur(8px);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: absolute;
  top: 0; */
}