.rolling_container {
  width: 1200px;
  display: block;
  margin: 0 auto;
}

.rollingtitle {
  font-size: 30px;
  color: var(--white);
  display: inline-block;
  line-height: 1.2;
  width: 250px;
  text-wrap: nowrap;
  overflow: hidden;
}