.obigo_container {
  max-width: 1780px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  background: var(--black);
}

.swiper_wrap {
  max-width: 245px;
  width: 100%;
  height: 536px;
  margin: 0;
  padding-left: 87px;
  position: relative;
  margin: 43px 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination {
  left: 50px;
}

.carpurpose_preview_wrap {
  width: 200px;
  height: 128px;
}

.carpurpose_preview_img {
  width: 100%;
  height: 100%;
}


.swiper-button-prev {
  background: url('/src/assets/images/obigo/player/keyboard_arrow_up.png');
  top: 28px;
  left: 201px;
}

.swiper-button-next {
  background: url('/src/assets/images/obigo/player/keyboard_arrow_down.png');
  left: 201px;
  top: 102%;
}


.swiper-button-prev,
.swiper-button-next {
  background-repeat: no-repeat;
  width: 16px;
  height: 9px;
  background-size: contain;
  cursor: pointer;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
