.swiper6_container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: block;
  height: 520px;
  background-color: var(--white);
}

.swiper-container {
  height: inherit;
}

.box {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  color: black;
}